<!DOCTYPE html>
<html>
<head>
    <title>Word 13</title>
    <!-- Include flatpickr CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dogebutton.min.css') }}">


    <script>
        function validateInput() {
            var textArea = document.getElementById('input_text');
            var usernameField = document.getElementById('username');
            var charCount = textArea.value.length;
            var wordCount = textArea.value.trim().split(/\s+/).length;
            var errorDiv = document.getElementById('error_message');

            if (usernameField.value === "") {
                errorDiv.innerHTML = "Please enter a username.";
                return false;
            } else if (wordCount > 10 || charCount > 100) {
                errorDiv.innerHTML = "You've reached the limit of 10 words or 100 characters.";
                return false;
            } else {
                errorDiv.innerHTML = "";
            }
            return true;
        }

        function updateInput() {
            var textArea = document.getElementById('input_text');
            var charCount = textArea.value.length;
            var wordCount = textArea.value.trim().split(/\s+/).length;
            var errorDiv = document.getElementById('error_message');

            var words = textArea.value.split(' ');

            for (var i = 0; i < words.length; i++) {
                if (words[i].length > 10) {
                    alert("Word truncated to 10 characters: " + words[i].slice(0, 10));
                    words[i] = words[i].slice(0, 10);
                }
            }

            if (charCount > 100) {
                errorDiv.innerHTML = "You've reached the limit of 100 characters.";
                textArea.value = textArea.value.slice(0, 100);
            } else {
                errorDiv.innerHTML = "";
            }

            textArea.value = words.join(' ');

            var wordsArray = textArea.value.trim().split(/\s+/);
            if (wordsArray.length > 10) {
                wordsArray = wordsArray.slice(0, 10);
                textArea.value = wordsArray.join(' ');
                errorDiv.innerHTML = "You've reached the limit of 10 words.";
            } else {
                errorDiv.innerHTML = "";
            }

            var wordCountSpan = document.getElementById('word_count');
            wordCountSpan.innerHTML = wordsArray.length;

            var charCountSpan = document.getElementById('char_count');
            charCountSpan.innerHTML = charCount;
        }

        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#date_time", {  // Update the ID to match the input field
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                minuteIncrement: 10,
                minDate: "today",
                defaultDate: "today",
            });
        });
    </script>
</head>
<body>
    <div class="message-box">
    <h1><img src="{{ url_for('static', filename='img/w13_mainlogo.png') }}" alt="word 13"></h1>
    <div calss="description-container">
        <p>max 13 words of max 13 chars</p>
    </div>
    <form method="POST" onsubmit="return validateInput();">
        <label for="username">User:</label>
        <input type="text" id="username" name="username">
        <br>
        <textarea id="input_text" name="input_text" rows="5" cols="40" oninput="updateInput();"></textarea>
        <br>
        <div class="form-group">
            <label for="date_time">Date and Time:</label>
            <input type="text" id="date_time" name="date_time" class="form-control" required>
        </div>
        <p id="error_message" class="error-message">{{ error_message }}</p>
        <p>Character Count: <span id="char_count">0</span></p>
        <p>Word Count: <span id="word_count">0</span></p>
        <input type="submit" value="Send Text">
    </form>
<br><br><br>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </div>
<div class="bottom-box">
    <div data-xdgbtn-address="D6U7eTceRUace37ySXfAMgHtehMMNmiC7t" class="xdgbtn-donate xdgbtn-theme-corpo xdgbtn-black"></div>
    <script type="text/javascript" src="static/js/dogebutton.min.js"></script>
</div>
</body>
</html>
