<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Message</th>
                <th>Slot</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.user }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.date_time }}</td>
                <td>{{ message.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
