body {
  background-color: black;
  /*color: #ae9268;*/
  color: #fbbc3a;
  font-size: 50px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.user-container {
    display: flex;
    justify-content: left; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    font-style: italic;
    font-size: 17px;
}