body {
  background-color: black;
  /*color: #ae9268;*/
  color: #fbbc3a;
  font-size: 15px;

  margin:0;
  padding:0;
  font-family: sans-serif;
/*  background: linear-gradient(#141e30, #243b55);*/
  background: linear-gradient(#111111, #333333);
}

.bottom-box {
    position: absolute;
    bottom:1.3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

html {
  height: 100%;
}

.message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,1);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(250,200,10,.8);
  border-radius: 10px;
}

.message-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fbbc3a;
  text-align: center;
}

.message-box .user-box {
  position: relative;
}

.message-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fbbc3a;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fbbc3a;
  outline: none;
  background: transparent;
}

.message-box .user-box label {
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 13px;
  color: #fbbc3a;
  pointer-events: none;
  transition: .5s;
  font-style: italic;
}

.message-box .user-box input:focus ~ label,
.message-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fbbc3a;
  font-size: 13px;
}

textarea{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fbbc3a;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fbbc3a;
  outline: none;
  background-color: transparent;
  background: transparent;
}

.counter-box p {
  display: inline-block;
  margin-right: 13px;
  font-size: 13px;
  font-style: italic;
}

.counter-box p span{
  margin-right: 13px;
  font-style: normal;
  font-size: 13px;
}

.message-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fbbc3a;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 13px;
  letter-spacing: 5px
}

#send-button {
    display: none;
}

.btn-send{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-box a:hover {
  background: #000000;
  color: #fbbc3a;
  border-radius: 5px;
  box-shadow: 0 0 3px #fbbc3a,
              0 0 13px #fbbc3a,
              0 0 20px #fbbc3a,
              0 0 26px #fbbc3a;
}

.message-box a span {
  position: absolute;
  display: block;
}

.message-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fbbc3a);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.message-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fbbc3a);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.message-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fbbc3a);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.message-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fbbc3a);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
